pkgbase = mitsuba-git
	pkgdesc = Mitsuba physically based renderer.
	pkgver = 0.6.0.r2173.10af06f3
	pkgrel = 5
	url = http://mitsuba-renderer.org/
	arch = i686
	arch = x86_64
	license = GPL3
	makedepends = eigen
	makedepends = openexr2
	makedepends = scons2
	makedepends = git
	makedepends = boost
	makedepends = boost-python2
	depends = python
	depends = python2
	depends = xerces-c
	depends = glew1.13
	depends = glu
	depends = openexr2-libs
	depends = libpng
	depends = libjpeg
	depends = qt5-base
	depends = qt5-xmlpatterns
	depends = fftw
	depends = collada-dom
	depends = boost-libs
	depends = boost-python2-libs
	depends = pcre
	provides = mitsuba
	conflicts = mitsuba
	conflicts = mitsuba-hg
	source = mitsuba::git+https://github.com/mitsuba-renderer/mitsuba.git
	source = python3.9.patch
	source = boost_107400.patch
	sha256sums = SKIP
	sha256sums = e501d1d6b33f3fffc516de74b42362079829200f55798894040694f7b8b776e0
	sha256sums = c4c571653c86e7c21d702f1f5cb9695edc32bf9fc05f6246e67a660693a32322

pkgname = mitsuba-git
